---
const { image, artist, type } = Astro.props;
---

<article>
  <img src={image} alt="" />
  <h3>{artist}</h3>
  <p>{type}</p>
</article>

<style>
  article {
    padding: 0.5rem;
  }
  img {
    width: 210px;
    border-radius: 100%;
  }
</style>
